<div nz-row class="service-card"  >
  <div nz-col nzSpan="5" class="service-card-header">

    <div nz-row  nzJustify="center">
      <div nz-col nzSpan="20" style="text-align: center;">
        <i nz-icon nzType="{{icon}}" nzTheme="outline"></i>
      </div>
      <div nz-col >
{{title}}      </div>
    </div>

  </div>
  <div nz-col nzSpan="15" class="service-card-body">
    <div nz-row nzJustify="center" nzAlign="middle" style="height: 100%;">
      <div nz-col nzSpan="20">
       {{description}}
      </div>

    </div>

  </div>
</div>
