<nz-layout>


  <!-- menu and presentation  -->
  <div nz-row nzJustify="center" class="introduction-container" >


    <div nz-col nzSpan="23">
      <!-- menu -->
      <div nz-row nzJustify="center"  class="menu-logo-container">
        <div nz-col nzSpan="5">

        </div>

        <div nz-col nzSpan="15">
          <ul nz-menu nzMode="horizontal" class="menu-container">
            <li nz-menu-item nzSelected>
              <i nz-icon nzType="home"></i>
              Home
            </li>
            <li nz-menu-item >
              <!-- <i nz-icon nzType="appstore"></i> -->
              Specialites
            </li>
            <li nz-menu-item nzIcon="setting">
              Traitements
            </li>
            <li nz-menu-item>
               Services
            </li>
            <li nz-menu-item>
              Localisation
           </li>
           <li nz-menu-item>
            Contacter nous !
         </li>
          </ul>
        </div>
      </div>
      <!-- menu -->

      <!-- Introduction de roqya -->
      <div nz-row nzJustify="center">
        <div nz-col nzSpan="10">
          <!-- title -->
          <div nz-row class="intro-title" nzJustify="start" >
            <div nz-col nzSpan="20">
              Centre Roqya Coran Guerit
            </div>

          </div>
          <!-- title -->

          <!-- description -->
          <div nz-row class="intro-description" nzJustify="start">
            <div nz-col nzSpan="20">
              Specialiste du traitement des affections mystiques et paranormales ( Djinns, Sorcelleries et mauvais oeil ) avec le Coran.
            </div>
          </div>
          <!-- description -->

          <div nz-row nzJustify="start" >
            <button nz-button nzType="primary" class="intro-button">
              <i nz-icon nzType="phone" nzTheme="outline"></i> Contacter Nous
            </button>
          </div>
        </div>

        <div nz-col nzSpan="10">
          <div nz-row nzJustify="center" >
            <div nz-col nzSpan="20">
              <img src="../../../assets/images/presentation/quran-v1.svg" height="200" width="500" alt="">
            </div>
            <div nz-col nzSpan="20" class="intro-title-image">
             Le Coran Guerit
            </div>
          </div>
        </div>


      </div>
      <!-- Introduction de roqya -->
    </div>


  </div>

  <!-- menu and presentation  -->

  <nz-divider style="margin: 0 ;"></nz-divider>

  <!-- Symptomes  -->
  <div nz-row style="padding-bottom: 100px;" >
    <div nz-col nzSpan="23" >

      <div nz-row nzJustify="center" class="page-title" >
        <div nz-col nzSpan="10" >
          Nous Soignons
        </div>
      </div>
      <div nz-row nzJustify="space-around" >


        <div nz-col nzSpan="5" class="card-symptome">
          <symptome-card title="Des blocages anormaux et repétitifs "
                           description="Au niveau du travail, de l'argent, du mariage, (Faru Rap, Thioro Rap),
                           des études, des voyages, des promesses, etc... C'est quand les blocages sont anormaux et répétitifs
                           jusqu'a etre systématique qu'on sait que c'est la sorcellerie."></symptome-card>
        </div>

        <div nz-col nzSpan="5" class="card-symptome">
          <symptome-card title="Etats de Santé Anormaux"
                         description="Vous avez des difficultés médicales maux de tête,maux de ventre, impuissance,stérilité,douleurs diverses,
                                      douleurs inexplicables et permanentes. Des maladies bizarres qu'un médecin ne peut comprendre."></symptome-card>
        </div>

        <div nz-col nzSpan="5" class="card-symptome">
          <symptome-card title="Des Perturbations mentales "
                         description="Vous êtes mentalement instable, souvent en  colère, deprimè, hallucination,tristesse, peur, oubli,doute
                                      ,douleur, manque de confiance en soi ; entendre ou sentir des choses
                                       bizzares inexplicables risquant de vous mener jusqu'a la folie."></symptome-card>
        </div>

        <div nz-col nzSpan="5" class="card-symptome">
          <symptome-card title="Des cauchemars"
                         description="Des rêves de poursuites,chiens, boeufs, serpents, policiers,
                              eaux, monter ou tomber, des morts, des reves sexuels, bebes, et vehicules.
                              Si ça vous arrive souvent et de façon continue il est temps de vous faire consulter."></symptome-card>
        </div>




      </div>


    </div>
  </div>

  <!-- Symptomes  -->

  <nz-divider style="margin:0"></nz-divider>

   <!-- Traitement  -->
   <div nz-row  style="margin-bottom: 100px;" >
    <div nz-col nzSpan="23" >

      <div nz-row nzJustify="center" class="page-title" >
        <div nz-col nzSpan="10" >
         Traitements
        </div>
      </div>

      <div nz-row nzJustify="center"  style="padding: 20px;" >

        <div nz-col nzSpan="20" class="traitement-container">

          <div nz-row nzJustify="center" >

              <img src="../../../assets/images/presentation/quran-v1.svg" height="200" width="200" class="img-traitement" alt="">

          </div>

          <div nz-row nzJustify="center" class="traitement-description">
            <div nz-col nzSpan="20">
              Quis nostrud esse adipisicing cupidatat nulla laborum quis est laborum exercitation do dolor Lorem.
               Id quis dolor fugiat ut ipsum ea aute incididunt est eu ea magna ullamco.
               Eu ipsum cillum minim fugiat eiusmod enim fugiat officia eiusmod id non deserunt ad minim.
                Minim eiusmod eu irure quis nisi consequat exercitation. Qui ipsum id elit minim esse qui exercitation
                 ipsum do ad duis consectetur anim. Elit fugiat sit in aliquip. Ipsum officia commodo excepteur ad enim anim aliqua ea deserunt.
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>

  <!-- Traitement  -->

  <nz-divider style="margin: 0;">

  </nz-divider>
  <!-- Services  -->

  <div nz-row >
    <div nz-col nzSpan="23">


      <service-card title=" A Domicile "
      description="Quis nostrud esse adipisicing cupidatat nulla laborum quis est laborum exercitation do dolor Lorem.
      Id quis dolor fugiat ut ipsum ea aute incididunt est eu ea magna ullamco.
      Eu ipsum cillum minim fugiat eiusmod enim fugiat officia eiusmod id non deserunt ad minim.
      Minim eiusmod eu irure quis nisi consequat exercitation. Qui ipsum id elit minim esse qui exercitation"
      icon="home">

      </service-card>


       <!-- services element  -->

       <div nz-row class="service-card" nzJustify="end" >
        <div nz-col nzSpan="15" class="service-card-body-right">
          <div nz-row nzJustify="center" nzAlign="middle" style="height: 100%;">
            <div nz-col nzSpan="20">
              Quis nostrud esse adipisicing cupidatat nulla laborum quis est laborum exercitation do dolor Lorem.
              Id quis dolor fugiat ut ipsum ea aute incididunt est eu ea magna ullamco.
              Eu ipsum cillum minim fugiat eiusmod enim fugiat officia eiusmod id non deserunt ad minim.
              Minim eiusmod eu irure quis nisi consequat exercitation. Qui ipsum id elit minim esse qui exercitation
            </div>

          </div>

        </div>
        <div nz-col nzSpan="5" class="service-card-header-right">

          <div nz-row  nzJustify="center">
            <div nz-col nzSpan="20" style="text-align: center;">
              <i nz-icon nzType="bank" nzTheme="outline"></i>
            </div>
            <div nz-col >
              Au centre
            </div>
          </div>

        </div>

      </div>

    <!-- services element  -->

    <service-card title=" A Distance "
      description="Quis nostrud esse adipisicing cupidatat nulla laborum quis est laborum exercitation do dolor Lorem.
      Id quis dolor fugiat ut ipsum ea aute incididunt est eu ea magna ullamco.
      Eu ipsum cillum minim fugiat eiusmod enim fugiat officia eiusmod id non deserunt ad minim.
      Minim eiusmod eu irure quis nisi consequat exercitation. Qui ipsum id elit minim esse qui exercitation"
      icon="desktop">

      </service-card>

    </div>
  </div>

   <!-- Services  -->


   <!-- Localisation  -->

  <div nz-row >

    <div nz-col nzSpan="6">
      <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
          [nzAvatar]="avatarTemplate"
        ></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </ng-template>
      <ng-template #actionSetting>
        <i nz-icon nzType="setting"></i>
      </ng-template>
      <ng-template #actionEdit>
        <i nz-icon nzType="edit"></i>
      </ng-template>
      <ng-template #actionEllipsis>
        <i nz-icon nzType="ellipsis"></i>
      </ng-template>
    </div>
  </div>

   <!-- Localisation  -->


</nz-layout>
